@import './poppins';
@import './nunito';
@import './grotext';
@import './sans_serif';
@import './futura';


$sans: sans-serif;
$grotext-sans: 'Space Grotesk',
sans-serif;
$nunito: 'Nunito', sans-serif;
$poppins: 'Poppins';
$futura: 'Raleway', sans-serif;;
:root {
    --grotext-sans: #{$grotext-sans} !important;
    --sans: #{$sans} !important;
    --nunito: #{$nunito} !important;
    --poppins: #{$poppins} !important;
    --futura: #{$futura} !important;
}