{% extends 'layout/base.html' %}
{% load static %}

{% block pathUrl %}<a href="{% url 'main:index' %}">Home</a> / {{ object.title }} {% endblock %}

{% block content %}
<section class="content-section blog">
    <div class="content-container">
        <article class="content-article blog">
            <h1 class="content-title">{{ object.title }}</h1>
            {{ object.text|safe }}
        </article>

        <div class="blog-content">
            <img src="{{ object.image.url }}" alt="">
            <div class="blog-content-changers">
                <a href="{% url 'main:updateView' pk=object.pk %}">Update <i class="fa-solid fa-pen"></i></a>
                <button id="deleteAsking">Delete <i class="fa-solid fa-trash"></i></button>
                {% include 'pages/deleteblog.html' %}
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block js_block %}
<script>
    var btn = document.getElementById('deleteAsking');
    var modal = document.getElementById('deleteModal-wrapper');
    var cancelBtn = document.getElementById('cancel-delete');
    var closeModal = document.getElementById('closeModal');

    btn.addEventListener('click', function () {
        modal.classList.add('active');
    });

    cancelBtn.addEventListener('click', function () {
        modal.classList.remove('active');
    });

    closeModal.addEventListener('click', function () {
        modal.classList.remove('active');
    });
    
</script>
{% endblock %}